<h1 class="mb-3">Select a group</h1>

<div class="list-group">
  {{# each model as |group|}}
    {{#link-to "groups.group" group class="list-group-item list-group-item-action flex-column align-items-start mb-2"}}
      <div class="media">
        <img class="align-self-center mr-3" src="{{group.group_photo.thumb_link}}">
        <div class="media-body">
          <h5 class="mt-0">{{group.name}}</h5>
          <p>{{group.localized_location}} - {{group.members}} {{group.who}}</p>
        </div>
      </div>
    {{/link-to}}
  {{/each}}
</div>